<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesca segura</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'base_de_datos' %}">Base de datos</a></li>
            <li><a href="{% url 'crear_cardumen' %}">Agregar cardumen</a></li>
            <li><a href="{% url 'obtener_viaje' %}">Verificar viaje</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
