{% extends 'base/links.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menu Principal</title>

</head>
<body class="m-1 p-1">
    <header class="m-4 p-2 text-center">
        <h1>Bienvenido al sistema de recomendación de pesca</h1>
    </header>
    <div class="m-3 p-3">
        <h3>Viajes realizados anteriormente</h3>
        <div class="m-2 mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Fecha de inicio</th>
                        <th scope="col">Fecha de fin</th>
                        <th scope="col">Coordenada X1</th>
                        <th scope="col">Coordenada X2</th>
                        <th scope="col">Coordenada Y1</th>
                        <th scope="col">Coordenada Y2</th>
                        <th scope="col">Viaje exitoso</th>
                    </tr>
                </thead>
                <tbody>
                    {% for viaje in viajes %}
                    <tr>
                        <td>{{viaje.fecha_inicio}}</td>
                        <td>{{viaje.fecha_fin}}</td>
                        <td>{{viaje.x_min}}</td>
                        <td>{{viaje.x_max}}</td>
                        <td>{{viaje.y_min}}</td>
                        <td>{{viaje.y_max}}</td>
                        <td>{{viaje.resultado}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
{% endblock %}