{% extends 'base/links.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menu Principal</title>
</head>
<body>
    <header>
        <h1>Bienvenido a mi primer projecto Django</h1>
    </header>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, consectetur porro soluta inventore est, ducimus deserunt corporis laboriosam iure delectus, obcaecati expedita natus eum quam exercitationem ut harum. Quaerat, deserunt.
        </p>
    </section>
</body>
</html>
{% endblock %}