{% extends 'base/links.html' %}

{% block content %}



<div class="m-2 p-2">
    <h2 class="text-center">Zona recomendada</h2>
    <div class="m-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Coordenada X1</th>
                    <th scope="col">Coordenada X2</th>
                    <th scope="col">Coordenada Y1</th>
                    <th scope="col">Coordenada Y2</th>
                    <th scope="col">Temperatura °C</th>
                    <th scope="col">Profundidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{coordenadaX1}}</td>
                    <td>{{coordenadaX2}}</td>
                    <td>{{coordenadaY1}}</td>
                    <td>{{coordenadaY2}}</td>
                    <td>{{temperatura}}</td>
                    <td>{{profundidad}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="m-2 p-2">
    <h3 class="text-center">Especies encontradas</h3>
    <div class="m-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Especie</th>
                    <th scope="col">Probabilidad de aparición</th>
                </tr>
            </thead>
            <tbody>
                {% for probabilidadCardumen in prob_cardumenes %}
                <tr>
                    <td>{{probabilidadCardumen.especie}}</td>
                    <td>{{probabilidadCardumen.probabilidad_aparicion}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="m-3 p-2 mb-5 ">
    <h3>Probabilidad de éxito del viaje recomendado</h3>
    <p>De acuerdo a los viajes anteriores, este viaje tiene una probabilidad de éxito del {{prob_exito}}%</p>
</div>

{% endblock %}